pipeline/03_Sustainability_Bronze_To_Silver.json
{
	"name": "03_Sustainability_Bronze_To_Silver",
	"properties": {
		"activities": [
			{
				"name": "market_electricity_transactions_silver",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "NOTIFICATION_ON_START",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": {
							"value": "market_electricity_transactions_silver",
							"type": "Expression"
						},
						"type": "NotebookReference"
					},
					"snapshot": true,
					"sparkPool": {
						"referenceName": {
							"value": "JobSparkpool02",
							"type": "Expression"
						},
						"type": "BigDataPoolReference"
					},
					"executorSize": "Medium",
					"conf": {
						"spark.dynamicAllocation.enabled": true
					},
					"driverSize": "Medium"
				},
				"linkedServiceName": {
					"referenceName": "LS_Synapse_Analytics_Artifacts01",
					"type": "LinkedServiceReference",
					"parameters": {
						"ls_param_endpoint": {
							"value": "@pipeline().globalParameters.param_synapse_endpoint",
							"type": "Expression"
						},
						"ls_param_workspace_id": {
							"value": "@pipeline().globalParameters.param_synapse_workspaceid",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "reference_data_silver",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "NOTIFICATION_ON_START",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": {
							"value": "reference_data_silver",
							"type": "Expression"
						},
						"type": "NotebookReference"
					},
					"snapshot": true,
					"sparkPool": {
						"referenceName": {
							"value": "JobSparkpool02",
							"type": "Expression"
						},
						"type": "BigDataPoolReference"
					},
					"executorSize": "Medium",
					"conf": {
						"spark.dynamicAllocation.enabled": true
					},
					"driverSize": "Medium"
				},
				"linkedServiceName": {
					"referenceName": "LS_Synapse_Analytics_Artifacts01",
					"type": "LinkedServiceReference",
					"parameters": {
						"ls_param_endpoint": {
							"value": "@pipeline().globalParameters.param_synapse_endpoint",
							"type": "Expression"
						},
						"ls_param_workspace_id": {
							"value": "@pipeline().globalParameters.param_synapse_workspaceid",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "NOTIFICATION_ON_START",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_TEAMS_NOTIF_ON_START",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"pl_param_MartName": "Sustainability_Bronze_To_Silver",
						"pl_param_PipelineRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"pl_param_PipeLineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "gas_allocation_silver",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "NOTIFICATION_ON_START",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": {
							"value": "gas_allocation_silver",
							"type": "Expression"
						},
						"type": "NotebookReference"
					},
					"snapshot": true,
					"sparkPool": {
						"referenceName": {
							"value": "JobSparkpool02",
							"type": "Expression"
						},
						"type": "BigDataPoolReference"
					},
					"executorSize": "Medium",
					"conf": {
						"spark.dynamicAllocation.enabled": true
					},
					"driverSize": "Medium"
				},
				"linkedServiceName": {
					"referenceName": "LS_Synapse_Analytics_Artifacts01",
					"type": "LinkedServiceReference",
					"parameters": {
						"ls_param_endpoint": {
							"value": "@pipeline().globalParameters.param_synapse_endpoint",
							"type": "Expression"
						},
						"ls_param_workspace_id": {
							"value": "@pipeline().globalParameters.param_synapse_workspaceid",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "gas_composition_silver",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "NOTIFICATION_ON_START",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": {
							"value": "gas_composition_silver",
							"type": "Expression"
						},
						"type": "NotebookReference"
					},
					"snapshot": true,
					"sparkPool": {
						"referenceName": {
							"value": "JobSparkpool02",
							"type": "Expression"
						},
						"type": "BigDataPoolReference"
					},
					"executorSize": "Medium",
					"conf": {
						"spark.dynamicAllocation.enabled": true
					},
					"driverSize": "Medium"
				},
				"linkedServiceName": {
					"referenceName": "LS_Synapse_Analytics_Artifacts01",
					"type": "LinkedServiceReference",
					"parameters": {
						"ls_param_endpoint": {
							"value": "@pipeline().globalParameters.param_synapse_endpoint",
							"type": "Expression"
						},
						"ls_param_workspace_id": {
							"value": "@pipeline().globalParameters.param_synapse_workspaceid",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "fuel_transactions_silver",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "NOTIFICATION_ON_START",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": {
							"value": "fuel_transactions_silver",
							"type": "Expression"
						},
						"type": "NotebookReference"
					},
					"snapshot": true,
					"sparkPool": {
						"referenceName": {
							"value": "JobSparkpool02",
							"type": "Expression"
						},
						"type": "BigDataPoolReference"
					},
					"executorSize": "Medium",
					"conf": {
						"spark.dynamicAllocation.enabled": true
					},
					"driverSize": "Medium"
				},
				"linkedServiceName": {
					"referenceName": "LS_Synapse_Analytics_Artifacts01",
					"type": "LinkedServiceReference",
					"parameters": {
						"ls_param_endpoint": {
							"value": "@pipeline().globalParameters.param_synapse_endpoint",
							"type": "Expression"
						},
						"ls_param_workspace_id": {
							"value": "@pipeline().globalParameters.param_synapse_workspaceid",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "retail_electricity_charge_details_silver",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "NOTIFICATION_ON_START",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": {
							"value": "retail_electricity_charge_details_silver",
							"type": "Expression"
						},
						"type": "NotebookReference"
					},
					"snapshot": true,
					"sparkPool": {
						"referenceName": {
							"value": "JobSparkpool02",
							"type": "Expression"
						},
						"type": "BigDataPoolReference"
					},
					"executorSize": "Medium",
					"conf": {
						"spark.dynamicAllocation.enabled": true
					},
					"driverSize": "Medium"
				},
				"linkedServiceName": {
					"referenceName": "LS_Synapse_Analytics_Artifacts01",
					"type": "LinkedServiceReference",
					"parameters": {
						"ls_param_endpoint": {
							"value": "@pipeline().globalParameters.param_synapse_endpoint",
							"type": "Expression"
						},
						"ls_param_workspace_id": {
							"value": "@pipeline().globalParameters.param_synapse_workspaceid",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "NOTIFICATION_ON_SUCCESS",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "market_electricity_transactions_silver",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "reference_data_silver",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "gas_allocation_silver",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "gas_composition_silver",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "fuel_transactions_silver",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "retail_electricity_charge_details_silver",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Switch _ Validation Errros Detected",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "petroleum_based_oils_and_greases_consumed_silver",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "sf6_emissions_silver",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "asset_electricity_generated_pi_silver",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "duid_connection_point_mapping_silver",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "hydrogen_consumed_silver",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "liquified_petroleum_gas_consumed_silver",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_TEAMS_NOTIF_ON_SUCCESS",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"pl_param_MartName": "Sustainability_Bronze_To_Silver",
						"pl_param_PipelineRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"pl_param_PipeLineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "data_validation_silver",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "market_electricity_transactions_silver",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "reference_data_silver",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "gas_allocation_silver",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "gas_composition_silver",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "fuel_transactions_silver",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "retail_electricity_charge_details_silver",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "petroleum_based_oils_and_greases_consumed_silver",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "sf6_emissions_silver",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "asset_electricity_generated_pi_silver",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "duid_connection_point_mapping_silver",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "hydrogen_consumed_silver",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "liquified_petroleum_gas_consumed_silver",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": {
							"value": "data_validation_silver",
							"type": "Expression"
						},
						"type": "NotebookReference"
					},
					"snapshot": true,
					"sparkPool": {
						"referenceName": {
							"value": "JobSparkpool02",
							"type": "Expression"
						},
						"type": "BigDataPoolReference"
					},
					"executorSize": "Medium",
					"conf": {
						"spark.dynamicAllocation.enabled": true
					},
					"driverSize": "Medium"
				},
				"linkedServiceName": {
					"referenceName": "LS_Synapse_Analytics_Artifacts01",
					"type": "LinkedServiceReference",
					"parameters": {
						"ls_param_endpoint": {
							"value": "@pipeline().globalParameters.param_synapse_endpoint",
							"type": "Expression"
						},
						"ls_param_workspace_id": {
							"value": "@pipeline().globalParameters.param_synapse_workspaceid",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Data_validation_errors",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "data_validation_silver",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "validation_errors_detected",
					"value": {
						"value": "@json(activity('data_validation_silver').output.status.Output.result.exitValue).totalValidationErrors\n\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "NOTIFICATION_ON_FAILURE_VALIDATION_CHECKS",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "data_validation_silver",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_TEAMS_NOTIF_ON_FAIL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"pl_param_MartName": "Sustainability_Bronze_To_Silver_Validation_Checks",
						"pl_param_PipelineRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"pl_param_PipeLineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Switch _ Validation Errros Detected",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "Data_validation_errors",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@string(greater(variables('validation_errors_detected'), 0))",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "True",
							"activities": [
								{
									"name": "NOTIFICATION_ON_VALIDATION_ERRORS_DETECTED",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PL_TEAMS_NOTIF_ON_FAIL",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"pl_param_MartName": {
												"value": "@concat(variables('validation_errors_detected'), ' validation errors detected. Please refer to the Dedicated SQL view dbo.vLatestDataValidationResults for latest validation results.')",
												"type": "Expression"
											},
											"pl_param_PipelineRunId": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											},
											"pl_param_PipeLineName": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "petroleum_based_oils_and_greases_consumed_silver",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "NOTIFICATION_ON_START",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": {
							"value": "petroleum_based_oils_and_greases_consumed_silver",
							"type": "Expression"
						},
						"type": "NotebookReference"
					},
					"snapshot": true,
					"sparkPool": {
						"referenceName": {
							"value": "JobSparkpool02",
							"type": "Expression"
						},
						"type": "BigDataPoolReference"
					},
					"executorSize": "Medium",
					"conf": {
						"spark.dynamicAllocation.enabled": true
					},
					"driverSize": "Medium"
				},
				"linkedServiceName": {
					"referenceName": "LS_Synapse_Analytics_Artifacts01",
					"type": "LinkedServiceReference",
					"parameters": {
						"ls_param_endpoint": {
							"value": "@pipeline().globalParameters.param_synapse_endpoint",
							"type": "Expression"
						},
						"ls_param_workspace_id": {
							"value": "@pipeline().globalParameters.param_synapse_workspaceid",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "NOTIFICATION_ON_FAILURE_PBOG",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "petroleum_based_oils_and_greases_consumed_silver",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_TEAMS_NOTIF_ON_FAIL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"pl_param_MartName": "Sustainability_Bronze_To_Silver_Petroleum_Based_Oils_And_Greases_Consumed_Silver",
						"pl_param_PipelineRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"pl_param_PipeLineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "NOTIFICATION_ON_FAILURE_RETAIL_ELECTRICITY",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "retail_electricity_charge_details_silver",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_TEAMS_NOTIF_ON_FAIL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"pl_param_MartName": "Sustainability_Bronze_To_Silver_Retail_Electricity_Charge_Details_Silver",
						"pl_param_PipelineRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"pl_param_PipeLineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "NOTIFICATION_ON_FAILURE_FUEL_TRANSACTIONS",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "fuel_transactions_silver",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_TEAMS_NOTIF_ON_FAIL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"pl_param_MartName": "Sustainability_Bronze_To_Silver_Fuel_Transactions_Silver",
						"pl_param_PipelineRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"pl_param_PipeLineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "NOTIFICATION_ON_FAILURE_GAS_COMPOSITION",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "gas_composition_silver",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_TEAMS_NOTIF_ON_FAIL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"pl_param_MartName": "Sustainability_Bronze_To_Silver_Gas_Composition_Silver",
						"pl_param_PipelineRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"pl_param_PipeLineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "NOTIFICATION_ON_FAILURE_GAS_ALLOCATION",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "gas_allocation_silver",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_TEAMS_NOTIF_ON_FAIL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"pl_param_MartName": "Sustainability_Bronze_To_Silver_Gas_Allocation_Silver",
						"pl_param_PipelineRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"pl_param_PipeLineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "NOTIFICATION_ON_FAILURE_REFRENCE_DATA",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "reference_data_silver",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_TEAMS_NOTIF_ON_FAIL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"pl_param_MartName": "Sustainability_Bronze_To_Silver_Reference_Data\n_Silver",
						"pl_param_PipelineRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"pl_param_PipeLineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "NOTIFICATION_ON_FAILURE_MARKET_ELECTRICITY",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "market_electricity_transactions_silver",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_TEAMS_NOTIF_ON_FAIL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"pl_param_MartName": "Sustainability_Bronze_To_Silver_Market_Electricity_Transactions_Silver",
						"pl_param_PipelineRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"pl_param_PipeLineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "sf6_emissions_silver",
				"type": "SynapseNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": {
							"value": "sf6_emissions_silver",
							"type": "Expression"
						},
						"type": "NotebookReference"
					},
					"snapshot": true,
					"sparkPool": {
						"referenceName": {
							"value": "JobSparkpool02",
							"type": "Expression"
						},
						"type": "BigDataPoolReference"
					},
					"executorSize": "Medium",
					"conf": {
						"spark.dynamicAllocation.enabled": true
					},
					"driverSize": "Medium"
				},
				"linkedServiceName": {
					"referenceName": "LS_Synapse_Analytics_Artifacts01",
					"type": "LinkedServiceReference",
					"parameters": {
						"ls_param_endpoint": {
							"value": "@pipeline().globalParameters.param_synapse_endpoint",
							"type": "Expression"
						},
						"ls_param_workspace_id": {
							"value": "@pipeline().globalParameters.param_synapse_workspaceid",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "NOTIFICATION_ON_FAILURE_SF6_EMISSIONS",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "sf6_emissions_silver",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_TEAMS_NOTIF_ON_FAIL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"pl_param_MartName": "Sustainability_Bronze_To_Silver_Sf6_Emissions_Silver",
						"pl_param_PipelineRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"pl_param_PipeLineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "asset_electricity_generated_pi_silver",
				"type": "SynapseNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": {
							"value": "asset_electricity_generated_pi_silver",
							"type": "Expression"
						},
						"type": "NotebookReference"
					},
					"snapshot": true,
					"sparkPool": {
						"referenceName": {
							"value": "JobSparkpool02",
							"type": "Expression"
						},
						"type": "BigDataPoolReference"
					},
					"executorSize": "Medium",
					"conf": {
						"spark.dynamicAllocation.enabled": true
					},
					"driverSize": "Medium"
				},
				"linkedServiceName": {
					"referenceName": "LS_Synapse_Analytics_Artifacts01",
					"type": "LinkedServiceReference",
					"parameters": {
						"ls_param_endpoint": {
							"value": "@pipeline().globalParameters.param_synapse_endpoint",
							"type": "Expression"
						},
						"ls_param_workspace_id": {
							"value": "@pipeline().globalParameters.param_synapse_workspaceid",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "duid_connection_point_mapping_silver",
				"type": "SynapseNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": {
							"value": "duid_connection_point_mapping_silver",
							"type": "Expression"
						},
						"type": "NotebookReference"
					},
					"snapshot": true,
					"sparkPool": {
						"referenceName": {
							"value": "JobSparkpool02",
							"type": "Expression"
						},
						"type": "BigDataPoolReference"
					},
					"executorSize": "Medium",
					"conf": {
						"spark.dynamicAllocation.enabled": true
					},
					"driverSize": "Medium"
				},
				"linkedServiceName": {
					"referenceName": "LS_Synapse_Analytics_Artifacts01",
					"type": "LinkedServiceReference",
					"parameters": {
						"ls_param_endpoint": {
							"value": "@pipeline().globalParameters.param_synapse_endpoint",
							"type": "Expression"
						},
						"ls_param_workspace_id": {
							"value": "@pipeline().globalParameters.param_synapse_workspaceid",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "hydrogen_consumed_silver",
				"type": "SynapseNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": {
							"value": "hydrogen_consumed_silver",
							"type": "Expression"
						},
						"type": "NotebookReference"
					},
					"snapshot": true,
					"sparkPool": {
						"referenceName": {
							"value": "JobSparkpool02",
							"type": "Expression"
						},
						"type": "BigDataPoolReference"
					},
					"executorSize": "Medium",
					"conf": {
						"spark.dynamicAllocation.enabled": true
					},
					"driverSize": "Medium"
				},
				"linkedServiceName": {
					"referenceName": "LS_Synapse_Analytics_Artifacts01",
					"type": "LinkedServiceReference",
					"parameters": {
						"ls_param_endpoint": {
							"value": "@pipeline().globalParameters.param_synapse_endpoint",
							"type": "Expression"
						},
						"ls_param_workspace_id": {
							"value": "@pipeline().globalParameters.param_synapse_workspaceid",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "liquified_petroleum_gas_consumed_silver",
				"type": "SynapseNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": {
							"value": "liquified_petroleum_gas_consumed_silver",
							"type": "Expression"
						},
						"type": "NotebookReference"
					},
					"snapshot": true,
					"sparkPool": {
						"referenceName": {
							"value": "JobSparkpool02",
							"type": "Expression"
						},
						"type": "BigDataPoolReference"
					},
					"executorSize": "Medium",
					"conf": {
						"spark.dynamicAllocation.enabled": true
					},
					"driverSize": "Medium"
				},
				"linkedServiceName": {
					"referenceName": "LS_Synapse_Analytics_Artifacts01",
					"type": "LinkedServiceReference",
					"parameters": {
						"ls_param_endpoint": {
							"value": "@pipeline().globalParameters.param_synapse_endpoint",
							"type": "Expression"
						},
						"ls_param_workspace_id": {
							"value": "@pipeline().globalParameters.param_synapse_workspaceid",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "NOTIFICATION_ON_FAILURE_LPG_CONSUMED",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "liquified_petroleum_gas_consumed_silver",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_TEAMS_NOTIF_ON_FAIL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"pl_param_MartName": "Sustainability_Bronze_To_Silver_Liquified_Petroleum_Gas_Consumed_Silver",
						"pl_param_PipelineRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"pl_param_PipeLineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "NOTIFICATION_ON_FAILURE_ASSET_GENERATED_ELECTRICITY",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "asset_electricity_generated_pi_silver",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_TEAMS_NOTIF_ON_FAIL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"pl_param_MartName": "Sustainability_Bronze_To_Silver_Asset_Electricity_Generated_Pi_Silver",
						"pl_param_PipelineRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"pl_param_PipeLineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "NOTIFICATION_ON_FAILURE_DUID_MAPPING",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "duid_connection_point_mapping_silver",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_TEAMS_NOTIF_ON_FAIL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"pl_param_MartName": "Sustainability_Bronze_To_Silver_Duid_Connection_Point_Mapping_Silver",
						"pl_param_PipelineRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"pl_param_PipeLineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "NOTIFICATION_ON_FAILURE_HYDROGEN_CONSUMED",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "hydrogen_consumed_silver",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_TEAMS_NOTIF_ON_FAIL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"pl_param_MartName": "Sustainability_Bronze_To_Silver_Hydrogen_Gas_Consumed_Silver",
						"pl_param_PipelineRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"pl_param_PipeLineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						}
					}
				}
			}
		],
		"variables": {
			"validation_errors_detected": {
				"type": "Integer",
				"defaultValue": 5
			}
		},
		"folder": {
			"name": "2 - DataHubPipelines/SustainabilityUseCase/01_ORCHESTRATION"
		},
		"annotations": []
	}
}