pipeline/AEMO_NEMDE_XMLtoParquet.json
{
	"name": "AEMO_NEMDE_XMLtoParquet",
	"properties": {
		"activities": [
			{
				"name": "Get_raw_folder_metadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_SRC_ADSL_AEMO_NEMDE_Metadata",
						"type": "DatasetReference",
						"parameters": {
							"ds_param_container": "raw",
							"ds_param_folder": "AEMO/NEMDE"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get_raw_folder_metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get_raw_folder_metadata').output.childItems",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "AEMO_NEMDE_XML_Parquet",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "XmlSource",
									"additionalColumns": [
										{
											"name": "FileName",
											"value": {
												"value": "@item().name",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "XmlReadSettings",
										"validationMode": "none",
										"namespaces": true
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "MergeFiles"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['@PeriodID']"
											},
											"sink": {
												"name": "PeriodID",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['@RegionID']"
											},
											"sink": {
												"name": "RegionID",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['@Market']"
											},
											"sink": {
												"name": "Market",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['@Price']"
											},
											"sink": {
												"name": "Price",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['@Unit']"
											},
											"sink": {
												"name": "Unit",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['@DispatchedMarket']"
											},
											"sink": {
												"name": "DispatchedMarket",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['@BandNo']"
											},
											"sink": {
												"name": "BandNo",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['@Increase']"
											},
											"sink": {
												"name": "Increase",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['@RRNBandPrice']"
											},
											"sink": {
												"name": "RRNBandPrice",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['@BandCost']"
											},
											"sink": {
												"name": "BandCost",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['FileName']"
											},
											"sink": {
												"name": "FileName",
												"type": "String"
											}
										}
									],
									"collectionReference": "$['NEMSPDCaseFile']['SolutionAnalysis']['PriceSetting']",
									"mapComplexValuesToString": false
								}
							},
							"inputs": [
								{
									"referenceName": "DS_SRC_ADSL_AEMO_NEMDE_XmlFile",
									"type": "DatasetReference",
									"parameters": {
										"ds_param_container": "raw",
										"ds_param_folder": "AEMO/NEMDE",
										"ds_param_filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_SNK_ADSL_AEMO_NEMDE_ParquetFile",
									"type": "DatasetReference",
									"parameters": {
										"ds_param_container": "raw",
										"ds_param_folder": "AEMO/NEMDE_Parquet/nemde_price_setting"
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "2 - DataHubPipelines/AEMONEMDE/SubPipelines"
		},
		"annotations": []
	}
}