pipeline/AVEVA_PI_Ingest.json
{
	"name": "AVEVA_PI_Ingest",
	"properties": {
		"activities": [
			{
				"name": "Get Tag Metadata from Unify View",
				"description": "Get tag metadata from Unify view CTL.VW_AVEVA_PI_TAG_NAME_DATES.\nIncludes StartTime and EndTime which are calculated at run time or overriden.",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Key Vault - Get ADF SVC Acct Username",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT \n TagName\n,TagCategory\n,Descriptor\n,StartTime\n,EndTime\nFROM [CTL].[VW_AVEVA_PI_TAG_NAME_DATES]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_CFG_SQL_DeltaValuesTable",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Key Vault - Get ADF SVC Acct Username",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Execute Pipeline - AVEVA_PI_Health_Check",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "@concat(pipeline().globalParameters.param_keyvault_secrets_endpoint,pipeline().parameters.param_secretname,'?api-version=7.0')",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "NOTIFICATION_ON_START",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_TEAMS_NOTIF_ON_START",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"pl_param_MartName": "AVEVA_PI_Ingest",
						"pl_param_PipelineRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"pl_param_PipeLineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "NOTIFICATION_ON_FAILURE_AKV_ADF_SVC",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Key Vault - Get ADF SVC Acct Username",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_TEAMS_NOTIF_ON_FAIL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"pl_param_MartName": "AVEVA_PI_Ingest",
						"pl_param_PipelineRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"pl_param_PipeLineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "NOTIFICATION_ON_FAILURE_LKP_TAG_META",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Get Tag Metadata from Unify View",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_TEAMS_NOTIF_ON_FAIL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"pl_param_MartName": "AVEVA_PI_Ingest",
						"pl_param_PipelineRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"pl_param_PipeLineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Execute Pipeline - AVEVA_PI_Health_Check",
				"description": "This pipeline is called to check the health of the AVEVA PI Web API. \nIf it fails, an error notification will be raised and the no further  activities for the AVEVA_PI_Ingest pipeline will commence.",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "NOTIFICATION_ON_START",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "AVEVA_PI_Health_Check",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "NOTIFICATION_ON_FAILURE_HEALTH_CHECK",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Execute Pipeline - AVEVA_PI_Health_Check",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_TEAMS_NOTIF_ON_FAIL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"pl_param_MartName": "AVEVA_PI_Ingest",
						"pl_param_PipelineRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"pl_param_PipeLineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "aveva_pi_landing_to_raw",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "For Each Tag",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": {
							"value": "aveva_pi_landing_to_raw",
							"type": "Expression"
						},
						"type": "NotebookReference"
					},
					"snapshot": true,
					"sparkPool": {
						"referenceName": {
							"value": "JobSparkpool02",
							"type": "Expression"
						},
						"type": "BigDataPoolReference"
					},
					"executorSize": "Medium",
					"conf": {
						"spark.dynamicAllocation.enabled": true
					},
					"driverSize": "Medium"
				},
				"linkedServiceName": {
					"referenceName": "LS_Synapse_Analytics_Artifacts01",
					"type": "LinkedServiceReference",
					"parameters": {
						"ls_param_endpoint": {
							"value": "@pipeline().globalParameters.param_synapse_endpoint",
							"type": "Expression"
						},
						"ls_param_workspace_id": {
							"value": "@pipeline().globalParameters.param_synapse_workspaceid",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "aveva_pi_bronze",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "aveva_pi_landing_to_raw",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": {
							"value": "aveva_pi_bronze",
							"type": "Expression"
						},
						"type": "NotebookReference"
					},
					"snapshot": true,
					"sparkPool": {
						"referenceName": {
							"value": "JobSparkpool02",
							"type": "Expression"
						},
						"type": "BigDataPoolReference"
					},
					"executorSize": "Medium",
					"conf": {
						"spark.dynamicAllocation.enabled": true
					},
					"driverSize": "Medium"
				},
				"linkedServiceName": {
					"referenceName": "LS_Synapse_Analytics_Artifacts01",
					"type": "LinkedServiceReference",
					"parameters": {
						"ls_param_endpoint": {
							"value": "@pipeline().globalParameters.param_synapse_endpoint",
							"type": "Expression"
						},
						"ls_param_workspace_id": {
							"value": "@pipeline().globalParameters.param_synapse_workspaceid",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "NOTIFICATION_ON_FAILURE_FOR_EACH_TAG",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "For Each Tag",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_TEAMS_NOTIF_ON_FAIL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"pl_param_MartName": "AVEVA_PI_Ingest",
						"pl_param_PipelineRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"pl_param_PipeLineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "NOTIFICATION_ON_FAILURE_SYN_LND_TO_RAW",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "aveva_pi_landing_to_raw",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_TEAMS_NOTIF_ON_FAIL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"pl_param_MartName": "AVEVA_PI_Ingest",
						"pl_param_PipelineRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"pl_param_PipeLineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "NOTIFICATION_ON_FAILURE_SYN_RAW_TO_BRZ",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "aveva_pi_bronze",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_TEAMS_NOTIF_ON_FAIL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"pl_param_MartName": "AVEVA_PI_Ingest",
						"pl_param_PipelineRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"pl_param_PipeLineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "NOTIFICATION_ON_SUCCESS",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Switch - Check ErrorsDetected",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_TEAMS_NOTIF_ON_SUCCESS",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"pl_param_MartName": "AVEVA_PI_Ingest",
						"pl_param_PipelineRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"pl_param_PipeLineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Get Folder Metadata from Unify View",
				"description": "Get folder metadata from Unify view CTL.VW_AVEVA_PI_TAG_NAME_DATES per TagCategory.",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "aveva_pi_bronze",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT\nDISTINCT\n TagCategory\n,TargetFolderName\n,TargetTableName\nFROM [CTL].[VW_AVEVA_PI_TAG_NAME_DATES]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_CFG_SQL_DeltaValuesTable",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach TagCategory - Archive",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Folder Metadata from Unify View",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Folder Metadata from Unify View').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Execute Pipeline - Archive",
							"description": "Pipeline will copy files from landing to timestamped archived folder (.zip) then delete files in landing.",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Set variable - Folder",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "AVEVA_PI_Archive",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"pl_param_folder": {
										"value": "@variables('vFolder')",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "NOTIFICATION_ON_FAILURE_ARCHIVE",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Execute Pipeline - Archive",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_TEAMS_NOTIF_ON_FAIL",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"pl_param_MartName": "AVEVA_PI_Ingest",
									"pl_param_PipelineRunId": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"pl_param_PipeLineName": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Set variable - Folder",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "vFolder",
								"value": {
									"value": "@concat(item().TargetFolderName,'/',item().TargetTableName)",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Check Error Log Table",
				"description": "Check if any error records require a notification to be sent.",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ForEach TagCategory - Archive",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT \nCASE WHEN COUNT(Record_ID) > 0 THEN 'True' ELSE 'False' END AS ErrorsDetected\nFROM [CTL].[AVEVA_PI_ERROR_LOG]\nWHERE NotificationSent = 0",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_CFG_SQL_DeltaValuesTable",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Set variable - vErrorsDetected",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Check Error Log Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "vErrorsDetected",
					"value": {
						"value": "@activity('Check Error Log Table').output.firstRow.ErrorsDetected",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Switch - Check ErrorsDetected",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "Set variable - vErrorsDetected",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@variables('vErrorsDetected')",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "True",
							"activities": [
								{
									"name": "NOTIFICATION_OF_ERROR_RECORDS",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PL_TEAMS_NOTIF_ON_FAIL",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"pl_param_MartName": "AVEVA_PI_Ingest_Error_Records_Detected",
											"pl_param_PipelineRunId": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											},
											"pl_param_PipeLineName": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Script - Update Error Log Table NotificationSent",
									"type": "Script",
									"dependsOn": [
										{
											"activity": "NOTIFICATION_OF_ERROR_RECORDS",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"linkedServiceName": {
										"referenceName": "LS_SQL_ELTFrameworkDB01",
										"type": "LinkedServiceReference"
									},
									"typeProperties": {
										"scripts": [
											{
												"type": "NonQuery",
												"text": "UPDATE [CTL].[AVEVA_PI_ERROR_LOG] SET NotificationSent = 1 WHERE NotificationSent = 0"
											}
										],
										"scriptBlockExecutionTimeout": "02:00:00"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "NOTIFICATION_ON_FAILURE_ERROR_NOTIFICATION",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Switch - Check ErrorsDetected",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_TEAMS_NOTIF_ON_FAIL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"pl_param_MartName": "AVEVA_PI_Ingest",
						"pl_param_PipelineRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"pl_param_PipeLineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "For Each Tag",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Tag Metadata from Unify View",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Tag Metadata from Unify View').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Switch - Tag Category",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@item().TagCategory",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "Gas Composition",
										"activities": [
											{
												"name": "Set variable vTagName",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "vTagName",
													"value": {
														"value": "@item().TagName",
														"type": "Expression"
													}
												}
											},
											{
												"name": "PI Web API - Points",
												"description": "Call /points endpoint per TagName to retrieve the WebId required for subsequent API calls.",
												"type": "WebActivity",
												"dependsOn": [
													{
														"activity": "Set variable vTagName",
														"dependencyConditions": [
															"Succeeded"
														]
													},
													{
														"activity": "Set variable vStartTime",
														"dependencyConditions": [
															"Succeeded"
														]
													},
													{
														"activity": "Set variable vEndTime",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.01:00:00",
													"retry": 3,
													"retryIntervalInSeconds": 300,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"method": "GET",
													"disableCertValidation": true,
													"url": {
														"value": "@concat(pipeline().globalParameters.param_piwebapi_serverurl,'points?path=',pipeline().globalParameters.param_piwebapi_path,variables('vTagName'))",
														"type": "Expression"
													},
													"connectVia": {
														"referenceName": "SelfHostedIntegrationRuntime",
														"type": "IntegrationRuntimeReference"
													},
													"authentication": {
														"type": "Basic",
														"username": {
															"value": "@activity('Key Vault - Get ADF SVC Acct Username').output.value",
															"type": "Expression"
														},
														"password": {
															"type": "AzureKeyVaultSecret",
															"store": {
																"referenceName": "LS_AKV_AA_KV01",
																"type": "LinkedServiceReference"
															},
															"secretName": "cleanco-datahub-serviceaccount-password"
														}
													}
												}
											},
											{
												"name": "Set variable vWebId",
												"type": "SetVariable",
												"dependsOn": [
													{
														"activity": "PI Web API - Points",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "vWebId",
													"value": {
														"value": "@activity('PI Web API - Points').output.WebId",
														"type": "Expression"
													}
												}
											},
											{
												"name": "Copy data - streams_recorded",
												"description": "Call the streams/recorded endpoint per WebId (i.e. TagName) for a start and end time range. \nOutput the data in JSON format to the landing container.",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "Set variable vFileName",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.01:00:00",
													"retry": 3,
													"retryIntervalInSeconds": 300,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "RestSource",
														"httpRequestTimeout": "00:01:40",
														"requestInterval": "00.00:00:00.010",
														"requestMethod": "GET"
													},
													"sink": {
														"type": "JsonSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "JsonWriteSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "DS_REST_PIWebAPI",
														"type": "DatasetReference",
														"parameters": {
															"ds_param_relativeURL": {
																"value": "@variables('vRelativeURL')",
																"type": "Expression"
															},
															"ds_param_adfserviceacct_username": {
																"value": "@activity('Key Vault - Get ADF SVC Acct Username').output.value",
																"type": "Expression"
															},
															"ds_param_base_url": {
																"value": "@pipeline().globalParameters.param_piwebapi_serverurl",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_SNK_ADLS_GenericJsonFile",
														"type": "DatasetReference",
														"parameters": {
															"ds_param_endPoint": {
																"value": "@pipeline().globalParameters.param_blb_storage_endpoint",
																"type": "Expression"
															},
															"ds_param_folder": "aveva_pi/streams_recorded",
															"ds_param_fileName": {
																"value": "@variables('vFileName')",
																"type": "Expression"
															},
															"ds_param_fileSystem": "landing"
														}
													}
												]
											},
											{
												"name": "Set variable vStartTime",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "vStartTime",
													"value": {
														"value": "@item().StartTime",
														"type": "Expression"
													}
												}
											},
											{
												"name": "Set variable vEndTime",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "vEndTime",
													"value": {
														"value": "@item().EndTime",
														"type": "Expression"
													}
												}
											},
											{
												"name": "Set variable vFileName",
												"type": "SetVariable",
												"dependsOn": [
													{
														"activity": "Set variable vRelativeURL",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "vFileName",
													"value": {
														"value": "@concat(variables('vTagName'),'__',variables('vStartTime'),'.json')",
														"type": "Expression"
													}
												}
											},
											{
												"name": "Set variable vRelativeURL",
												"type": "SetVariable",
												"dependsOn": [
													{
														"activity": "Set variable vWebId",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "vRelativeURL",
													"value": {
														"value": "@concat('streams/',variables('vWebId'),'/recorded?startTime=',variables('vStartTime'),'&endTime=',variables('vEndTime'))",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"value": "Electricity Transactions",
										"activities": [
											{
												"name": "Set variable vTagName Electricity",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "vTagName",
													"value": {
														"value": "@item().TagName",
														"type": "Expression"
													}
												}
											},
											{
												"name": "PI Web API - Points Electricity",
												"description": "Call /points endpoint per TagName to retrieve the WebId required for subsequent API calls.",
												"type": "WebActivity",
												"dependsOn": [
													{
														"activity": "Set variable vTagName Electricity",
														"dependencyConditions": [
															"Succeeded"
														]
													},
													{
														"activity": "Set variable vEndTime Electricity",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.01:00:00",
													"retry": 3,
													"retryIntervalInSeconds": 300,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"method": "GET",
													"disableCertValidation": true,
													"url": {
														"value": "@concat(pipeline().globalParameters.param_piwebapi_serverurl,'points?path=',pipeline().globalParameters.param_piwebapi_path,variables('vTagName'))",
														"type": "Expression"
													},
													"connectVia": {
														"referenceName": "SelfHostedIntegrationRuntime",
														"type": "IntegrationRuntimeReference"
													},
													"authentication": {
														"type": "Basic",
														"username": {
															"value": "@activity('Key Vault - Get ADF SVC Acct Username').output.value",
															"type": "Expression"
														},
														"password": {
															"type": "AzureKeyVaultSecret",
															"store": {
																"referenceName": "LS_AKV_AA_KV01",
																"type": "LinkedServiceReference"
															},
															"secretName": "cleanco-datahub-serviceaccount-password"
														}
													}
												}
											},
											{
												"name": "Set variable vWebId Electricity",
												"type": "SetVariable",
												"dependsOn": [
													{
														"activity": "PI Web API - Points Electricity",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "vWebId",
													"value": {
														"value": "@activity('PI Web API - Points Electricity').output.WebId",
														"type": "Expression"
													}
												}
											},
											{
												"name": "Copy data - streams_recorded_copy1",
												"description": "Call the streams/recorded endpoint per WebId (i.e. TagName) for a start and end time range. \nOutput the data in JSON format to the landing container.",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "Set variable vFileName Electricity",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.01:00:00",
													"retry": 3,
													"retryIntervalInSeconds": 300,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "RestSource",
														"httpRequestTimeout": "00:01:40",
														"requestInterval": "00.00:00:00.010",
														"requestMethod": "GET"
													},
													"sink": {
														"type": "JsonSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "JsonWriteSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "DS_REST_PIWebAPI",
														"type": "DatasetReference",
														"parameters": {
															"ds_param_relativeURL": {
																"value": "@variables('vRelativeURL')",
																"type": "Expression"
															},
															"ds_param_adfserviceacct_username": {
																"value": "@activity('Key Vault - Get ADF SVC Acct Username').output.value",
																"type": "Expression"
															},
															"ds_param_base_url": {
																"value": "@pipeline().globalParameters.param_piwebapi_serverurl",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_SNK_ADLS_GenericJsonFile",
														"type": "DatasetReference",
														"parameters": {
															"ds_param_endPoint": {
																"value": "@pipeline().globalParameters.param_blb_storage_endpoint",
																"type": "Expression"
															},
															"ds_param_folder": "aveva_pi/streams_recorded",
															"ds_param_fileName": {
																"value": "@variables('vFileName')",
																"type": "Expression"
															},
															"ds_param_fileSystem": "landing"
														}
													}
												]
											},
											{
												"name": "Set variable vEndTime Electricity",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "vEndTime",
													"value": {
														"value": "@item().EndTime",
														"type": "Expression"
													}
												}
											},
											{
												"name": "Set variable vFileName Electricity",
												"type": "SetVariable",
												"dependsOn": [
													{
														"activity": "Set variable vRelativeURL Electricity",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "vFileName",
													"value": {
														"value": "@concat(variables('vTagName'),'__',variables('vEndTime'),'.json')",
														"type": "Expression"
													}
												}
											},
											{
												"name": "Set variable vRelativeURL Electricity",
												"type": "SetVariable",
												"dependsOn": [
													{
														"activity": "Set variable vWebId Electricity",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "vRelativeURL",
													"value": {
														"value": "@concat('streams/',variables('vWebId'),'/recordedattimes?time=',variables('vEndTime'))",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"param_secretname": {
				"type": "string",
				"defaultValue": "cleanco-datahub-serviceaccount-username"
			}
		},
		"variables": {
			"vTagName": {
				"type": "String"
			},
			"vWebId": {
				"type": "String"
			},
			"vTagRelativeUrl": {
				"type": "String"
			},
			"vStartTime": {
				"type": "String"
			},
			"vEndTime": {
				"type": "String"
			},
			"vFolder": {
				"type": "String"
			},
			"vFileName": {
				"type": "String"
			},
			"vRelativeURL": {
				"type": "String"
			},
			"vErrorsDetected": {
				"type": "String"
			}
		},
		"folder": {
			"name": "2 - DataHubPipelines/SustainabilityUseCase/AVEVA_PI"
		},
		"annotations": []
	}
}