pipeline/LACIMA_SpotData_Push.json
{
	"name": "LACIMA_SpotData_Push",
	"properties": {
		"activities": [
			{
				"name": "NOTIFICATION_ON_START",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_TEAMS_NOTIF_ON_START",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"pl_param_MartName": "LACIMA_SpotData_Push",
						"pl_param_PipelineRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"pl_param_PipeLineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "LACIMA_Spot_Data",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Key Vault - Get ADF SVC Acct Username",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": {
							"value": "lacima_spot_data",
							"type": "Expression"
						},
						"type": "NotebookReference"
					},
					"parameters": {
						"inputDate": {
							"value": {
								"value": "@if(equals(pipeline().parameters.param_inputdate,'yyyy-mm-dd'),\n    formatDateTime(utcnow(), 'yyyy-MM-dd'),\n    pipeline().parameters.param_inputdate\n    )",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"sparkPool": {
						"referenceName": {
							"value": "JobSparkpool02",
							"type": "Expression"
						},
						"type": "BigDataPoolReference"
					},
					"executorSize": "Medium",
					"conf": {
						"spark.dynamicAllocation.enabled": true
					},
					"driverSize": "Medium"
				},
				"linkedServiceName": {
					"referenceName": "LS_Synapse_Analytics_Artifacts01",
					"type": "LinkedServiceReference",
					"parameters": {
						"ls_param_endpoint": {
							"value": "@pipeline().globalParameters.param_synapse_endpoint",
							"type": "Expression"
						},
						"ls_param_workspace_id": {
							"value": "@pipeline().globalParameters.param_synapse_workspaceid",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "NOTIFICATION_ON_SUCCESS",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "LACIMA Web API",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_TEAMS_NOTIF_ON_SUCCESS",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"pl_param_MartName": "LACIMA_SpotData_Push",
						"pl_param_PipelineRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"pl_param_PipeLineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "NOTIFICATION_ON_FAILURE_lacima_web_api",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "LACIMA Web API",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_TEAMS_NOTIF_ON_FAIL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"pl_param_MartName": "LACIMA_SpotData_Push",
						"pl_param_PipelineRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"pl_param_PipeLineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Key Vault - Get ADF SVC Acct Username",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "NOTIFICATION_ON_START",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "@concat(pipeline().globalParameters.param_keyvault_secrets_endpoint,pipeline().parameters.param_secretname,'?api-version=7.0')",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "LACIMA Web API",
				"description": "PUT request to push spot price data to LACIMA",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set variable vSpotDataPayLoad",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 5,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "PUT",
					"disableCertValidation": true,
					"url": {
						"value": "@concat(pipeline().globalParameters.param_lacimawebapi_serverurl,'spot')",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "SelfHostedIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"body": {
						"value": "@variables('vSpotDataPayLoad')",
						"type": "Expression"
					},
					"authentication": {
						"type": "Basic",
						"username": {
							"value": "@activity('Key Vault - Get ADF SVC Acct Username').output.value",
							"type": "Expression"
						},
						"password": {
							"type": "AzureKeyVaultSecret",
							"store": {
								"referenceName": "LS_AKV_AA_KV01",
								"type": "LinkedServiceReference"
							},
							"secretName": "cleanco-datahub-lacimaapi-password"
						}
					}
				}
			},
			{
				"name": "Set variable vSpotDataPayLoad",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LACIMA_Spot_Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "vSpotDataPayLoad",
					"value": {
						"value": "@activity('LACIMA_Spot_Data').output.status.Output.result.exitvalue\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "NOTIFICATION_ON_FAILURE_AKV_ADF_SVC",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Key Vault - Get ADF SVC Acct Username",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_TEAMS_NOTIF_ON_FAIL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"pl_param_MartName": "LACIMA_SpotData_Push",
						"pl_param_PipelineRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"pl_param_PipeLineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "NOTIFICATION_ON_FAILURE_lacima_spot_data",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "LACIMA_Spot_Data",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_TEAMS_NOTIF_ON_FAIL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"pl_param_MartName": "LACIMA_SpotData_Push",
						"pl_param_PipelineRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"pl_param_PipeLineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"param_secretname": {
				"type": "string",
				"defaultValue": "cleanco-datahub-serviceaccount-username"
			},
			"param_inputdate": {
				"type": "string",
				"defaultValue": "yyyy-mm-dd"
			}
		},
		"variables": {
			"vSpotPrice": {
				"type": "String"
			},
			"vSpotDataPayLoad": {
				"type": "String"
			}
		},
		"folder": {
			"name": "2 - DataHubPipelines/LacimaAPI"
		},
		"annotations": []
	}
}