pipeline/PL_INGEST_WORKER_SRC_TO_LND_AzureBlobSas.json
{
	"name": "PL_INGEST_WORKER_SRC_TO_LND_AzureBlobSas",
	"properties": {
		"activities": [
			{
				"name": "switchLoadPreProcessing",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "logWorkerStart",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@toLower(pipeline().parameters.pl_param_item.LOAD_TYPE)",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "delta",
							"activities": [
								{
									"name": "initialiseDeltaEntry",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[CTL].[USP_DELTA_VALUE_ENTRY_INITIALISE]",
										"storedProcedureParameters": {
											"delta_column": {
												"value": {
													"value": "@if(contains(pipeline().parameters.pl_param_item,'DELTA_COLUMN'),trim(pipeline().parameters.pl_param_item.DELTA_COLUMN),'')",
													"type": "Expression"
												},
												"type": "String"
											},
											"delta_data_type": {
												"value": {
													"value": "@if(contains(pipeline().parameters.pl_param_item,'DELTA_DATA_TYPE'),trim(pipeline().parameters.pl_param_item.DELTA_DATA_TYPE),'')",
													"type": "Expression"
												},
												"type": "String"
											},
											"delta_type": {
												"value": {
													"value": "@{trim(pipeline().parameters.pl_param_item.DELTA_TYPE)}",
													"type": "Expression"
												},
												"type": "String"
											},
											"source": {
												"value": {
													"value": "@{trim(pipeline().parameters.pl_param_item.SOURCE_NAME)}",
													"type": "Expression"
												},
												"type": "String"
											},
											"target_schema": {
												"value": {
													"value": "@{trim(pipeline().parameters.pl_param_item.TARGET_SCHEMA)}",
													"type": "Expression"
												},
												"type": "String"
											},
											"source_schema": {
												"value": {
													"value": "@{trim(pipeline().parameters.pl_param_item.SOURCE_SCHEMA)}",
													"type": "Expression"
												},
												"type": "String"
											},
											"source_type": {
												"value": {
													"value": "@{trim(pipeline().parameters.pl_param_item.SOURCE_TYPE)}",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_SQL_ELTFrameworkDB01",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "getDeltaFileModifiedDateTime",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "initialiseDeltaEntry",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DS_SQL_SqlServer_GenericTable",
											"type": "DatasetReference",
											"parameters": {
												"ds_param_tableSchema": {
													"value": "@{pipeline().parameters.pl_param_item.SOURCE_SCHEMA}",
													"type": "Expression"
												},
												"ds_param_tableName": {
													"value": "@{pipeline().parameters.pl_param_item.SOURCE_NAME}",
													"type": "Expression"
												},
												"ls_param_serverName": {
													"value": "@pipeline().parameters.pl_param_sourceConfig.SERVER_NAME",
													"type": "Expression"
												},
												"ls_param_databaseName": {
													"value": "@pipeline().parameters.pl_param_sourceConfig.DATABASE_NAME",
													"type": "Expression"
												},
												"ls_param_username": {
													"value": "@pipeline().parameters.pl_param_sourceConfig.USERNAME",
													"type": "Expression"
												},
												"ls_param_password_keyvault_secret": {
													"value": "@pipeline().parameters.pl_param_sourceConfig.PASSWORD_KEYVAULT_SECRET",
													"type": "Expression"
												}
											}
										},
										"firstRowOnly": true
									}
								},
								{
									"name": "setVarMaxDeltaValue",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "getDeltaFileModifiedDateTime",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "maxDeltaValue",
										"value": {
											"value": "@activity('getDeltaFileModifiedDateTime').output.firstRow.maxValue",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "switchLoadPostProcessing",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "Copy",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@toLower(pipeline().parameters.pl_param_item.LOAD_TYPE)",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "delta",
							"activities": [
								{
									"name": "updateDeltaValues",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[CTL].[USP_DELTA_VALUE_ENTRY_UPDATE]",
										"storedProcedureParameters": {
											"delta_column": {
												"value": {
													"value": "@if(contains(pipeline().parameters.pl_param_item,'DELTA_COLUMN'),trim(pipeline().parameters.pl_param_item.DELTA_COLUMN),'')",
													"type": "Expression"
												},
												"type": "String"
											},
											"delta_data_type": {
												"value": {
													"value": "@if(contains(pipeline().parameters.pl_param_item,'DELTA_DATA_TYPE'),trim(pipeline().parameters.pl_param_item.DELTA_DATA_TYPE),'')\n",
													"type": "Expression"
												},
												"type": "String"
											},
											"delta_value": {
												"value": {
													"value": "@variables('maxDeltaValue')",
													"type": "Expression"
												},
												"type": "String"
											},
											"source": {
												"value": {
													"value": "@{trim(pipeline().parameters.pl_param_item.SOURCE_NAME)}",
													"type": "Expression"
												},
												"type": "String"
											},
											"target_schema": {
												"value": {
													"value": "@{trim(pipeline().parameters.pl_param_item.TARGET_SCHEMA)}",
													"type": "Expression"
												},
												"type": "String"
											},
											"source_schema": {
												"value": {
													"value": "@{trim(pipeline().parameters.pl_param_item.SOURCE_SCHEMA)}",
													"type": "Expression"
												},
												"type": "String"
											},
											"delta_type": {
												"value": {
													"value": "@{trim(pipeline().parameters.pl_param_item.DELTA_TYPE)}",
													"type": "Expression"
												},
												"type": "String"
											},
											"source_type": {
												"value": {
													"value": "@{trim(pipeline().parameters.pl_param_item.SOURCE_TYPE)}",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_SQL_ELTFrameworkDB01",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "logWorkerStart",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[CTL].[USP_LOG_WORKER_RUNNING]",
					"storedProcedureParameters": {
						"callingPipelineId": {
							"value": {
								"value": "@pipeline().parameters.pl_param_pipelineId",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"callingPipelineRunId": {
							"value": {
								"value": "@pipeline().parameters.pl_param_pipelineRunId",
								"type": "Expression"
							},
							"type": "Guid"
						},
						"workerName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"workerRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "Guid"
						},
						"workerType": {
							"value": "Ingest",
							"type": "String"
						},
						"loadSetItemId": {
							"value": {
								"value": "@pipeline().parameters.pl_param_item.LOADSET_ITEM_ID",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL_ELTFrameworkDB01",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Copy",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "switchLoadPreProcessing",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": {
								"value": "@pipeline().parameters.pl_param_item.SOURCE_RECURSIVE_FILE_SCAN",
								"type": "Expression"
							},
							"wildcardFolderPath": {
								"value": "@pipeline().parameters.pl_param_item.SOURCE_SCHEMA",
								"type": "Expression"
							},
							"wildcardFileName": {
								"value": "@pipeline().parameters.pl_param_item.SOURCE_NAME",
								"type": "Expression"
							},
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings",
							"copyBehavior": "PreserveHierarchy"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"outputs": [
					{
						"referenceName": "DS_ABLB_DropZone_GenericJsonFile",
						"type": "DatasetReference",
						"parameters": {
							"ds_param_folder": {
								"value": "@{trim(pipeline().parameters.pl_param_loadConfig.LANDING_PATH)}",
								"type": "Expression"
							},
							"ds_param_fileName": {
								"value": "@{trim(toUpper(pipeline().parameters.pl_param_item.TARGET_TABLE))}__@{trim(pipeline().parameters.pl_param_item.LOAD_TYPE)}_@{pipeline().RunId}_@{formatDateTime(pipeline().TriggerTime,'yyyyMMdd_HHMMss')}",
								"type": "Expression"
							},
							"ds_param_container": "landing",
							"ds_param_endPoint": "https://vndatapltfv2devst01.blob.core.windows.net"
						}
					}
				]
			}
		],
		"parameters": {
			"pl_param_item": {
				"type": "object"
			},
			"pl_param_sourceConfig": {
				"type": "object"
			},
			"pl_param_pipelineId": {
				"type": "string"
			},
			"pl_param_pipelineRunId": {
				"type": "string"
			},
			"pl_param_loadConfig": {
				"type": "object"
			}
		},
		"variables": {
			"maxDeltaValue": {
				"type": "String"
			}
		},
		"folder": {
			"name": "99 - Framework Components/B - Ingest/1 - Source to Landing"
		},
		"annotations": [],
		"lastPublishTime": "2023-11-09T05:16:20Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}