pipeline/PL_INGEST_WORKER_LND_TO_STORE_Synapse_Spark.json
{
	"name": "PL_INGEST_WORKER_LND_TO_STORE_Synapse_Spark",
	"properties": {
		"description": "To put in looping of file for processing landing files...Notebook for landing needs to be amended as well. To talk to Barshan for handling.",
		"activities": [
			{
				"name": "getNotebookSet",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "getLandingFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[CTL].[USP_GET_NOTEBOOK_SET]",
						"storedProcedureParameters": {
							"LOADSET_ITEM_ID": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.pl_param_item.LOADSET_ITEM_ID",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_CFG_SQL_DeltaValuesTable",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "IfRawToConformance",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "ForEachFile",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(equals(activity('getNotebookSet').output.firstRow.BRONZE_NOTEBOOK_PATH, null))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "RawToConformance",
							"type": "SynapseNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebook": {
									"referenceName": {
										"value": "@{activity('getNotebookSet').output.firstRow.BRONZE_NOTEBOOK_PATH}",
										"type": "Expression"
									},
									"type": "NotebookReference"
								},
								"parameters": {
									"source_storage": {
										"value": "cqldevdatahubsynapse",
										"type": "string"
									},
									"source_container": {
										"value": "raw",
										"type": "string"
									},
									"source_path": {
										"value": "aemo",
										"type": "string"
									},
									"source_file": {
										"value": "",
										"type": "string"
									},
									"destination_storage": {
										"value": "cqldevdatahubsynapse",
										"type": "string"
									},
									"destination_container": {
										"value": "bronze",
										"type": "string"
									},
									"destination_path": {
										"value": "aemo",
										"type": "string"
									}
								},
								"snapshot": true,
								"sparkPool": {
									"referenceName": {
										"value": "@pipeline().parameters.pl_param_destinationConfig.CLUSTER_ID",
										"type": "Expression"
									},
									"type": "BigDataPoolReference"
								},
								"executorSize": {
									"value": "@pipeline().parameters.pl_param_destinationConfig.EXECUTOR_SIZE",
									"type": "Expression"
								},
								"conf": {
									"spark.dynamicAllocation.enabled": {
										"value": "@equals(pipeline().parameters.pl_param_destinationConfig.DYNAMIC_ALLOCATION,'true')",
										"type": "Expression"
									},
									"spark.dynamicAllocation.minExecutors": {
										"value": "@pipeline().parameters.pl_param_destinationConfig.NUM_EXECUTORS",
										"type": "Expression"
									},
									"spark.dynamicAllocation.maxExecutors": {
										"value": "@pipeline().parameters.pl_param_destinationConfig.NUM_EXECUTORS",
										"type": "Expression"
									}
								},
								"driverSize": {
									"value": "@pipeline().parameters.pl_param_destinationConfig.DRIVER_SIZE",
									"type": "Expression"
								},
								"numExecutors": {
									"value": "@pipeline().parameters.pl_param_destinationConfig.NUM_EXECUTORS",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_Synapse_Analytics_Artifacts01",
								"type": "LinkedServiceReference",
								"parameters": {
									"ls_param_endpoint": {
										"value": "@pipeline().parameters.pl_param_destinationConfig.WORKSPACE_URL",
										"type": "Expression"
									},
									"ls_param_workspace_id": {
										"value": "@pipeline().parameters.pl_param_destinationConfig.WORKSPACE_RESOURCE_ID",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "IfConformanceToStandardized",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "IfRawToConformance",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(equals(activity('getNotebookSet').output.firstRow.SILVER_NOTEBOOK_PATH, null))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "ConformanceToStandardized",
							"type": "SynapseNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebook": {
									"referenceName": {
										"value": "@{activity('getNotebookSet').output.firstRow.SILVER_NOTEBOOK_PATH}",
										"type": "Expression"
									},
									"type": "NotebookReference"
								},
								"parameters": {
									"source_storage": {
										"value": "cqldevdatahubsynapse",
										"type": "string"
									},
									"source_container": {
										"value": "bronze",
										"type": "string"
									},
									"source_path": {
										"value": "aemo",
										"type": "string"
									},
									"source_file": {
										"value": null,
										"type": "string"
									},
									"destination_container": {
										"value": "silver",
										"type": "string"
									},
									"destination_path": {
										"value": "aemo",
										"type": "string"
									},
									"destination_storage": {
										"value": "cqldevdatahubsynapse",
										"type": "string"
									}
								},
								"snapshot": true,
								"sparkPool": {
									"referenceName": {
										"value": "@pipeline().parameters.pl_param_destinationConfig.CLUSTER_ID",
										"type": "Expression"
									},
									"type": "BigDataPoolReference"
								},
								"executorSize": {
									"value": "@pipeline().parameters.pl_param_destinationConfig.EXECUTOR_SIZE",
									"type": "Expression"
								},
								"conf": {
									"spark.dynamicAllocation.enabled": {
										"value": "@equals(pipeline().parameters.pl_param_destinationConfig.DYNAMIC_ALLOCATION,'true')",
										"type": "Expression"
									},
									"spark.dynamicAllocation.minExecutors": {
										"value": "@pipeline().parameters.pl_param_destinationConfig.NUM_EXECUTORS",
										"type": "Expression"
									},
									"spark.dynamicAllocation.maxExecutors": {
										"value": "@pipeline().parameters.pl_param_destinationConfig.NUM_EXECUTORS",
										"type": "Expression"
									}
								},
								"driverSize": {
									"value": "@pipeline().parameters.pl_param_destinationConfig.DRIVER_SIZE",
									"type": "Expression"
								},
								"numExecutors": {
									"value": "@pipeline().parameters.pl_param_destinationConfig.NUM_EXECUTORS",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_Synapse_Analytics_Artifacts01",
								"type": "LinkedServiceReference",
								"parameters": {
									"ls_param_endpoint": {
										"value": "@pipeline().parameters.pl_param_destinationConfig.WORKSPACE_URL\n",
										"type": "Expression"
									},
									"ls_param_workspace_id": {
										"value": "@pipeline().parameters.pl_param_destinationConfig.WORKSPACE_RESOURCE_ID",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "IfStandardizedToCurated",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "IfConformanceToStandardized",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(equals(activity('getNotebookSet').output.firstRow.GOLD_NOTEBOOK_PATH, null))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "StandardizedToCurated",
							"type": "SynapseNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebook": {
									"referenceName": {
										"value": "@{activity('getNotebookSet').output.firstRow.GOLD_NOTEBOOK_PATH}",
										"type": "Expression"
									},
									"type": "NotebookReference"
								},
								"parameters": {
									"source_storage": {
										"value": "cqldevdatahubsynapse",
										"type": "string"
									},
									"source_container": {
										"value": "silver",
										"type": "string"
									},
									"source_path": {
										"value": "aemo",
										"type": "string"
									},
									"source_file": {
										"value": null,
										"type": "string"
									},
									"destination_storage": {
										"value": "cqldevdatahubsynapse",
										"type": "string"
									},
									"destination_container": {
										"value": "gold",
										"type": "string"
									},
									"destination_path": {
										"value": "aemo",
										"type": "string"
									}
								},
								"snapshot": true,
								"sparkPool": {
									"referenceName": {
										"value": "@pipeline().parameters.pl_param_destinationConfig.CLUSTER_ID",
										"type": "Expression"
									},
									"type": "BigDataPoolReference"
								},
								"executorSize": {
									"value": "@pipeline().parameters.pl_param_destinationConfig.EXECUTOR_SIZE",
									"type": "Expression"
								},
								"conf": {
									"spark.dynamicAllocation.enabled": {
										"value": "@equals(pipeline().parameters.pl_param_destinationConfig.DYNAMIC_ALLOCATION,'true')",
										"type": "Expression"
									},
									"spark.dynamicAllocation.minExecutors": {
										"value": "@pipeline().parameters.pl_param_destinationConfig.NUM_EXECUTORS",
										"type": "Expression"
									},
									"spark.dynamicAllocation.maxExecutors": {
										"value": "@pipeline().parameters.pl_param_destinationConfig.NUM_EXECUTORS",
										"type": "Expression"
									}
								},
								"driverSize": {
									"value": "@pipeline().parameters.pl_param_destinationConfig.DRIVER_SIZE",
									"type": "Expression"
								},
								"numExecutors": {
									"value": "@pipeline().parameters.pl_param_destinationConfig.NUM_EXECUTORS",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_Synapse_Analytics_Artifacts01",
								"type": "LinkedServiceReference",
								"parameters": {
									"ls_param_endpoint": {
										"value": "@pipeline().parameters.pl_param_destinationConfig.WORKSPACE_URL",
										"type": "Expression"
									},
									"ls_param_workspace_id": {
										"value": "@pipeline().parameters.pl_param_destinationConfig.WORKSPACE_RESOURCE_ID",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "getLandingFiles",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "logWorkerStart",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[CTL].[USP_LANDING_FILE_GET_UNPROCESSED]",
						"storedProcedureParameters": {
							"LOADSET_ITEM_ID": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.pl_param_item.LOADSET_ITEM_ID",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_CFG_SQL_DeltaValuesTable",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachFile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "getNotebookSet",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('getLandingFiles').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "IfLandingToRaw",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@not(equals(activity('getNotebookSet').output.firstRow.LANDING_NOTEBOOK_PATH, null))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "LandingToRaw",
										"type": "SynapseNotebook",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"notebook": {
												"referenceName": {
													"value": "@{activity('getNotebookSet').output.firstRow.LANDING_NOTEBOOK_PATH}",
													"type": "Expression"
												},
												"type": "NotebookReference"
											},
											"parameters": {
												"source_storage": {
													"value": "cqldevdatahubdata",
													"type": "string"
												},
												"source_container": {
													"value": "landing",
													"type": "string"
												},
												"source_path": {
													"value": "AEMO_Schema/NEM12",
													"type": "string"
												},
												"source_file": {
													"value": {
														"value": "@item().FILE_NAME",
														"type": "Expression"
													},
													"type": "string"
												},
												"destination_storage": {
													"value": "cqldevdatahubsynapse",
													"type": "string"
												},
												"destination_container": {
													"value": "raw",
													"type": "string"
												},
												"destination_path": {
													"value": "aemo",
													"type": "string"
												}
											},
											"snapshot": true,
											"sparkPool": {
												"referenceName": {
													"value": "@pipeline().parameters.pl_param_destinationConfig.CLUSTER_ID",
													"type": "Expression"
												},
												"type": "BigDataPoolReference"
											},
											"executorSize": {
												"value": "@pipeline().parameters.pl_param_destinationConfig.EXECUTOR_SIZE",
												"type": "Expression"
											},
											"conf": {
												"spark.dynamicAllocation.enabled": {
													"value": "@equals(pipeline().parameters.pl_param_destinationConfig.DYNAMIC_ALLOCATION,'true')",
													"type": "Expression"
												},
												"spark.dynamicAllocation.minExecutors": {
													"value": "@pipeline().parameters.pl_param_destinationConfig.NUM_EXECUTORS",
													"type": "Expression"
												},
												"spark.dynamicAllocation.maxExecutors": {
													"value": "@pipeline().parameters.pl_param_destinationConfig.NUM_EXECUTORS",
													"type": "Expression"
												}
											},
											"driverSize": {
												"value": "@pipeline().parameters.pl_param_destinationConfig.DRIVER_SIZE",
												"type": "Expression"
											},
											"numExecutors": {
												"value": "@pipeline().parameters.pl_param_destinationConfig.NUM_EXECUTORS",
												"type": "Expression"
											}
										},
										"linkedServiceName": {
											"referenceName": "LS_Synapse_Analytics_Artifacts01",
											"type": "LinkedServiceReference",
											"parameters": {
												"ls_param_endpoint": {
													"value": "@pipeline().parameters.pl_param_destinationConfig.WORKSPACE_URL",
													"type": "Expression"
												},
												"ls_param_workspace_id": {
													"value": "@pipeline().parameters.pl_param_destinationConfig.WORKSPACE_RESOURCE_ID",
													"type": "Expression"
												}
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "logWorkerStart",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[CTL].[USP_LOG_WORKER_RUNNING]",
					"storedProcedureParameters": {
						"callingPipelineId": {
							"value": {
								"value": "@pipeline().parameters.pl_param_pipelineId",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"callingPipelineRunId": {
							"value": {
								"value": "@pipeline().parameters.pl_param_pipelineRunId",
								"type": "Expression"
							},
							"type": "Guid"
						},
						"workerName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"workerRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "Guid"
						},
						"workerType": {
							"value": "Ingest",
							"type": "String"
						},
						"loadSetItemId": {
							"value": {
								"value": "@pipeline().parameters.pl_param_item.LOADSET_ITEM_ID",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL_ELTFrameworkDB01",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "DimTables",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "IfStandardizedToCurated",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": {
							"value": "AEMO_Dimtables",
							"type": "Expression"
						},
						"type": "NotebookReference"
					},
					"parameters": {
						"destination_storage": {
							"value": "cqldevdatahubsynapse",
							"type": "string"
						},
						"destination_container": {
							"value": "gold",
							"type": "string"
						},
						"destination_path": {
							"value": "aemo",
							"type": "string"
						}
					},
					"snapshot": true,
					"executorSize": "Small",
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"driverSize": "Small",
					"numExecutors": null
				},
				"linkedServiceName": {
					"referenceName": "LS_Synapse_Analytics_Artifacts01",
					"type": "LinkedServiceReference",
					"parameters": {
						"ls_param_endpoint": {
							"value": "@pipeline().parameters.pl_param_destinationConfig.WORKSPACE_URL",
							"type": "Expression"
						},
						"ls_param_workspace_id": {
							"value": "@pipeline().parameters.pl_param_destinationConfig.WORKSPACE_RESOURCE_ID",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"pl_param_item": {
				"type": "object"
			},
			"pl_param_destinationConfig": {
				"type": "object"
			},
			"pl_param_pipelineId": {
				"type": "string"
			},
			"pl_param_pipelineRunId": {
				"type": "string"
			},
			"pl_param_loadConfig": {
				"type": "object"
			}
		},
		"variables": {
			"selectStatement": {
				"type": "String"
			},
			"maxDeltaValue": {
				"type": "String"
			}
		},
		"folder": {
			"name": "99 - Framework Components/B - Ingest/2 - Landing to Store"
		},
		"annotations": []
	}
}