pipeline/Test_Connection_PIWebAPI.json
{
	"name": "Test_Connection_PIWebAPI",
	"properties": {
		"activities": [
			{
				"name": "PI Web API - Points",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Key Vault - Get ADF SVC Acct Username",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "@concat(pipeline().globalParameters.param_piwebapi_serverurl,'points?path=\\\\CQL-DEV1-PCOL01\\SBE_11EKD01CQ001A1XQ60')",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "SelfHostedIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"authentication": {
						"type": "Basic",
						"username": {
							"value": "@activity('Key Vault - Get ADF SVC Acct Username').output.value",
							"type": "Expression"
						},
						"password": {
							"type": "AzureKeyVaultSecret",
							"store": {
								"referenceName": "LS_AKV_AA_KV01",
								"type": "LinkedServiceReference"
							},
							"secretName": "cleanco-datahub-serviceaccount-password"
						}
					}
				}
			},
			{
				"name": "Key Vault - Get ADF SVC Acct Username",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "@concat(pipeline().globalParameters.param_keyvault_secrets_endpoint,pipeline().parameters.param_secretname,'?api-version=7.0')",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			}
		],
		"parameters": {
			"param_secretname": {
				"type": "string",
				"defaultValue": "cleanco-datahub-serviceaccount-username"
			}
		},
		"folder": {
			"name": "2 - DataHubPipelines/ConnectionTesting"
		},
		"annotations": []
	}
}