TempArtifact/pipeline/PL_ALERT_ON_COMPLETE.json
{
	"name": "PL_ALERT_ON_COMPLETE",
	"properties": {
		"activities": [
			{
				"name": "ifEmailAlertEnabled",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@pipeline().parameters.pl_param_pipelineConfig.ENABLE_ALERTS_EMAIL",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "getEmailAlertConfig",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[dbo].[USP_GET_ALERT_ON_COMPLETE_EMAIL]",
									"storedProcedureParameters": {
										"PIPELINE_ID": {
											"type": "Int32",
											"value": {
												"value": "@pipeline().parameters.pl_param_pipelineConfig.PIPELINE_ID",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_CFG_SQL_DeltaValuesTable",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "sendEmails",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "getEmailAlertConfig",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_ALERT_SEND_EMAILS",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"pl_param_emailAlerts": {
										"value": "@activity('getEmailAlertConfig').output.value",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"pl_param_pipelineConfig": {
				"type": "object"
			}
		},
		"folder": {
			"name": "99 - Framework Components/Utility"
		},
		"annotations": [],
		"lastPublishTime": "2023-11-09T05:16:20Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}