TempArtifact/pipeline/PL_INGEST_MAIN.json
{
	"name": "PL_INGEST_MAIN",
	"properties": {
		"description": "Generic Loader of Source System to Landing Layer.\nLogging is not working for now. Bypassing it by using on completion.",
		"activities": [
			{
				"name": "logPipelineRunning",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "getSourceConfig",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "getPipelineConfig",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "getDestinationConfig",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "getloadSetItems",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "getloadSet",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "getEngineConfig",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[CTL].[USP_LOG_PIPELINE_RUNNING]",
					"storedProcedureParameters": {
						"PIPELINE_ID": {
							"value": {
								"value": "@activity('getPipelineConfig').output.firstRow.PIPELINE_ID",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"PIPELINE_NAME": {
							"value": {
								"value": "@activity('getPipelineConfig').output.firstRow.PIPELINE_NAME",
								"type": "Expression"
							},
							"type": "String"
						},
						"RUN_ID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "Guid"
						},
						"START_DATETIME": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "Datetime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL_ELTFrameworkDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "getSourceConfig",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[CTL].[USP_GET_SOURCE_CONFIG]",
						"storedProcedureParameters": {
							"TOKEN": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.pl_param_loadToken",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_CFG_SQL_DeltaValuesTable",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "alertOnStart",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "logPipelineRunning",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_ALERT_ON_START",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"pl_param_pipelineConfig": {
							"value": "@activity('getPipelineConfig').output.firstRow",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "alertOnCompletion",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "logPipelineCompletion",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_ALERT_ON_COMPLETE",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"pl_param_pipelineConfig": {
							"value": "@activity('getPipelineConfig').output.firstRow",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "ForEachLoadItemSrcToLnd",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "alertOnStart",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('getLoadSetItems').output.value",
						"type": "Expression"
					},
					"batchCount": 10,
					"activities": [
						{
							"name": "switchOnIngestStages",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@if(activity('getloadSet').output.firstRow.ENABLED,activity('getloadSet').output.firstRow.INGEST_STAGES,'notEnabled')",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "srcToStoreViaLanding",
										"activities": [
											{
												"name": "execWorkerSelectionSrcToStoreViaLnd",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"policy": {
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "PL_INGEST_WORKER_SELECTION_SRC_TO_STORE_VIA_LND",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"pl_param_pipelineId": {
															"value": "@activity('getPipelineConfig').output.firstRow.PIPELINE_ID",
															"type": "Expression"
														},
														"pl_param_pipelineRunId": {
															"value": "@pipeline().RunId",
															"type": "Expression"
														},
														"pl_param_sourceConfig": {
															"value": "@activity('getSourceConfig').output.firstRow",
															"type": "Expression"
														},
														"pl_param_loadItem": {
															"value": "@item()",
															"type": "Expression"
														},
														"pl_param_loadConfig": {
															"value": "@activity('getloadSet').output.firstRow",
															"type": "Expression"
														},
														"pl_param_destinationConfig": {
															"value": "@activity('getDestinationConfig').output.firstRow",
															"type": "Expression"
														}
													}
												}
											}
										]
									},
									{
										"value": "srcToStoreDirect",
										"activities": [
											{
												"name": "execWorkerSelectionSrcToStoreDirect",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"policy": {
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "PL_INGEST_WORKER_SELECTION_SRC_TO_STORE_DIRECT",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"pl_param_pipelineId": {
															"value": "@activity('getPipelineConfig').output.firstRow.PIPELINE_ID",
															"type": "Expression"
														},
														"pl_param_pipelineRunId": {
															"value": "@pipeline().RunId",
															"type": "Expression"
														},
														"pl_param_sourceConfig": {
															"value": "@activity('getSourceConfig').output.firstRow",
															"type": "Expression"
														},
														"pl_param_loadItem": {
															"value": "@item()",
															"type": "Expression"
														},
														"pl_param_loadConfig": {
															"value": "@activity('getloadSet').output.firstRow",
															"type": "Expression"
														},
														"pl_param_destinationConfig": {
															"value": "@activity('getDestinationConfig').output.firstRow",
															"type": "Expression"
														}
													}
												}
											}
										]
									},
									{
										"value": "lndToStore",
										"activities": [
											{
												"name": "execWorkerSelectionLndToStore",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"policy": {
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "PL_INGEST_WORKER_SELECTION_LND_TO_STORE",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"pl_param_pipelineId": {
															"value": "@activity('getPipelineConfig').output.firstRow.PIPELINE_ID",
															"type": "Expression"
														},
														"pl_param_pipelineRunId": {
															"value": "@pipeline().RunId",
															"type": "Expression"
														},
														"pl_param_sourceConfig": {
															"value": "@activity('getSourceConfig').output.firstRow",
															"type": "Expression"
														},
														"pl_param_loadItem": {
															"value": "@item()",
															"type": "Expression"
														},
														"pl_param_loadConfig": {
															"value": "@activity('getloadSet').output.firstRow",
															"type": "Expression"
														},
														"pl_param_destinationConfig": {
															"value": "@activity('getDestinationConfig').output.firstRow",
															"type": "Expression"
														}
													}
												}
											}
										]
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "getPipelineConfig",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "initPipelineConfig",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[CTL].[USP_GET_PIPELINE_CONFIG]",
						"storedProcedureParameters": {
							"PIPELINE_NAME": {
								"type": "String",
								"value": {
									"value": "AEMO_PIPELINE",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_CFG_SQL_DeltaValuesTable",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "getPreviousExecutionState",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "getPipelineConfig",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[CTL].[USP_GET_PIPELINE_CURRENT_EXECUTION_LOG]",
						"storedProcedureParameters": {
							"PIPELINE_ID": {
								"type": "Int32",
								"value": {
									"value": "@activity('getPipelineConfig').output.firstRow.PIPELINE_ID",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_CFG_SQL_DeltaValuesTable",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "logPipelineCompletion",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "SwitchEngineType",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[CTL].[USP_LOG_PIPELINE_COMPLETE_BASED_ON_WORKER_STATUS]",
					"storedProcedureParameters": {
						"PIPELINE_RUN_ID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL_ELTFrameworkDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "alertOnUncaughtException",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "logPipelineFailed",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_ALERT_ON_COMPLETE",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"pl_param_pipelineConfig": {
							"value": "@activity('getPipelineConfig').output.firstRow",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "logPipelineFailed",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "SwitchEngineType",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[CTL].[USP_LOG_PIPELINE_COMPLETE]",
					"storedProcedureParameters": {
						"pipelineId": {
							"value": {
								"value": "@activity('getPipelineConfig').output.firstRow.PIPELINE_ID",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"status": {
							"value": "Failed",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL_ELTFrameworkDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "initPipelineConfig",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[CTL].[USP_INIT_PIPELINE]",
					"storedProcedureParameters": {
						"pipelineName": {
							"value": {
								"value": "AEMO_PIPELINE",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL_ELTFrameworkDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "getDestinationConfig",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[CTL].[USP_GET_DESTINATION_CONFIG]",
						"storedProcedureParameters": {
							"TOKEN": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.pl_param_loadToken",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_CFG_SQL_DeltaValuesTable",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "getloadSetItems",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[CTL].[USP_GET_INGESTION_LOADSET_ITEMS]",
						"storedProcedureParameters": {
							"TOKEN": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.pl_param_loadToken",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_CFG_SQL_DeltaValuesTable",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "getloadSet",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[CTL].[USP_GET_INGESTION_LOADSET]",
						"storedProcedureParameters": {
							"TOKEN": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.pl_param_loadToken",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_CFG_SQL_DeltaValuesTable",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "getEngineConfig",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[CTL].[USP_GET_ENGINE_CONFIG]",
						"storedProcedureParameters": {
							"TOKEN": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.pl_param_loadToken",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_CFG_SQL_DeltaValuesTable",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SwitchEngineType",
				"description": "azureSynapseSparkCluster could be used for post processing but empty for now. Actual processing is done in PL_INGEST_WORKER_SELECTION_SRC_TO_STORE_VIA_LND",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "ForEachLoadItemSrcToLnd",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@activity('getEngineConfig').output.firstRow.ENGINE_TYPE",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "azureDatabricksInteractiveCluster",
							"activities": [
								{
									"name": "executeNotebook",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/executeIngest",
										"baseParameters": {
											"pipelineId": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											},
											"loadToken": {
												"value": "@pipeline().parameters.pl_param_loadToken",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_ADB_Int01",
										"type": "LinkedServiceReference",
										"parameters": {
											"ls_param_workspaceUrl": {
												"value": "@activity('getEngineConfig').output.firstRow.WORKSPACE_URL",
												"type": "Expression"
											},
											"ls_param_workSpaceResourceId": {
												"value": "@activity('getEngineConfig').output.firstRow.WORKSPACE_RESOURCE_ID",
												"type": "Expression"
											},
											"ls_param_clusterId": {
												"value": "@activity('getEngineConfig').output.firstRow.CLUSTER_ID",
												"type": "Expression"
											}
										}
									}
								}
							]
						},
						{
							"value": "azureSynapseSparkCluster",
							"activities": [
								{
									"name": "Placeholder",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 1
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"pl_param_loadToken": {
				"type": "string"
			},
			"pl_param_parentPipeline": {
				"type": "string"
			}
		},
		"variables": {
			"_placeholder_": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "99 - Framework Components/A - Orchestrator"
		},
		"annotations": [],
		"lastPublishTime": "2023-11-09T05:16:21Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}