TempArtifact/pipeline/PL_INGEST_WORKER_LND_TO_DB_AzureDataExplorer.json
{
	"name": "PL_INGEST_WORKER_LND_TO_DB_AzureDataExplorer",
	"properties": {
		"activities": [
			{
				"name": "copy",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "getAdfColumnMapping",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "createAdxTable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFolderPath": {
								"value": "@{trim(pipeline().parameters.pl_param_loadConfig.LANDING_PATH)}",
								"type": "Expression"
							},
							"wildcardFileName": "*",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "AzureDataExplorerSink"
					},
					"enableStaging": false,
					"parallelCopies": 4,
					"enableSkipIncompatibleRow": true,
					"redirectIncompatibleRowSettings": {
						"linkedServiceName": {
							"referenceName": "LS_ADLS2_Landing",
							"type": "LinkedServiceReference"
						}
					},
					"dataIntegrationUnits": 16,
					"translator": {
						"value": "@json(activity('getAdfColumnMapping').output.firstRow.json)",
						"type": "Expression"
					}
				},
				"inputs": [
					{
						"referenceName": "DS_ABLB_DropZone_GenericJsonFile",
						"type": "DatasetReference",
						"parameters": {
							"ds_param_folder": {
								"value": "@{trim(pipeline().parameters.pl_param_loadConfig.LANDING_PATH)}",
								"type": "Expression"
							},
							"ds_param_fileName": "*",
							"ds_container": "landing"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ADX_GenericTable",
						"type": "DatasetReference",
						"parameters": {
							"ds_param_tableName": {
								"value": "@pipeline().parameters.pl_param_item.TARGET_TABLE",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "logWorkerStart",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[CTL].[USP_LOG_WORKER_RUNNING]",
					"storedProcedureParameters": {
						"callingPipelineId": {
							"value": {
								"value": "@pipeline().parameters.pl_param_pipelineId",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"callingPipelineRunId": {
							"value": {
								"value": "@pipeline().parameters.pl_param_pipelineRunId",
								"type": "Expression"
							},
							"type": "Guid"
						},
						"workerName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"workerRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "Guid"
						},
						"workerType": {
							"value": "Ingest",
							"type": "String"
						},
						"loadSetItemId": {
							"value": {
								"value": "@pipeline().parameters.pl_param_item.LOADSET_ITEM_ID",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL_ELTFrameworkDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "getAdxCreateTableStmt",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "logWorkerStart",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[CTL].[USP_GET_ADX_CREATE_TABLE_STMT]",
						"storedProcedureParameters": {
							"schemaId": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.pl_param_loadConfig.SCHEMA_ID",
									"type": "Expression"
								}
							},
							"destinationTable": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.pl_param_item.TARGET_TABLE",
									"type": "Expression"
								}
							},
							"sourceTable": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.pl_param_item.SOURCE_NAME",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_CFG_SQL_DeltaValuesTable",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "getAdfColumnMapping",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "logWorkerStart",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[CTL].[USP_GET_ADF_COLUMN_MAPPING_JSON]",
						"storedProcedureParameters": {
							"schemaId": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.pl_param_loadConfig.SCHEMA_ID",
									"type": "Expression"
								}
							},
							"sourceTable": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.pl_param_item.SOURCE_NAME",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_CFG_SQL_DeltaValuesTable",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "createAdxTable",
				"type": "AzureDataExplorerCommand",
				"dependsOn": [
					{
						"activity": "getAdxCreateTableStmt",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"command": {
						"value": "@activity('getAdxCreateTableStmt').output.firstRow.stmt",
						"type": "Expression"
					},
					"commandTimeout": "00:20:00"
				},
				"linkedServiceName": {
					"referenceName": "LS_ADX_GenericCluster",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "getAdxCreateIngestionMappingStmt",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "checkIfIngestionMappingExists",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[CTL].[USP_GET_ADX_CREATE_INGESTION_MAPPING_STMT]",
						"storedProcedureParameters": {
							"schemaId": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.pl_param_loadConfig.SCHEMA_ID",
									"type": "Expression"
								}
							},
							"destinationTable": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.pl_param_item.TARGET_TABLE",
									"type": "Expression"
								}
							},
							"sourceTable": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.pl_param_item.SOURCE_NAME",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_CFG_SQL_DeltaValuesTable",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "createAdxIngestionMapping",
				"type": "AzureDataExplorerCommand",
				"dependsOn": [
					{
						"activity": "getAdxCreateIngestionMappingStmt",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "createAdxTable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"command": {
						"value": "@activity('getAdxCreateIngestionMappingStmt').output.firstRow.stmt",
						"type": "Expression"
					},
					"commandTimeout": "00:20:00"
				},
				"linkedServiceName": {
					"referenceName": "LS_ADX_GenericCluster",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "checkIfIngestionMappingExists",
				"type": "AzureDataExplorerCommand",
				"dependsOn": [
					{
						"activity": "logWorkerStart",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"command": {
						"value": ".show table @{pipeline().parameters.pl_param_item.TARGET_TABLE} ingestion json mapping \"@{pipeline().parameters.pl_param_item.TARGET_TABLE}Mapping\"",
						"type": "Expression"
					},
					"commandTimeout": "00:20:00"
				},
				"linkedServiceName": {
					"referenceName": "LS_ADX_GenericCluster",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"pl_param_item": {
				"type": "object"
			},
			"pl_param_destinationConfig": {
				"type": "object"
			},
			"pl_param_pipelineId": {
				"type": "string"
			},
			"pl_param_pipelineRunId": {
				"type": "string"
			},
			"pl_param_loadConfig": {
				"type": "object"
			}
		},
		"variables": {
			"selectStatement": {
				"type": "String"
			},
			"maxDeltaValue": {
				"type": "String"
			}
		},
		"folder": {
			"name": "99 - Framework Components/B - Ingest/2 - Landing to Store"
		},
		"annotations": [],
		"lastPublishTime": "2023-11-09T05:16:19Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}