TempArtifact/pipeline/PL_INGEST_WORKER_SELECTION_LND_TO_STORE.json
{
	"name": "PL_INGEST_WORKER_SELECTION_LND_TO_STORE",
	"properties": {
		"description": "Generic Loader of Source System to Landing Layer",
		"activities": [
			{
				"name": "execWorkerLndToStore",
				"type": "Switch",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@pipeline().parameters.pl_param_destinationConfig.CONNECTION_TYPE",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "sqlServer",
							"activities": [
								{
									"name": "execWorkerStoreSqlServer",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PL_INGEST_WORKER_LND_TO_DB_SqlServer",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"pl_param_item": {
												"value": "@pipeline().parameters.pl_param_loadItem",
												"type": "Expression"
											},
											"pl_param_destinationConfig": {
												"value": "@pipeline().parameters.pl_param_destinationConfig",
												"type": "Expression"
											},
											"pl_param_pipelineId": {
												"value": "@pipeline().parameters.pl_param_pipelineId",
												"type": "Expression"
											},
											"pl_param_pipelineRunId": {
												"value": "@pipeline().parameters.pl_param_pipelineRunId",
												"type": "Expression"
											},
											"pl_param_loadConfig": {
												"value": "@pipeline().parameters.pl_param_loadConfig",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "setWorkerStoreSqlServer",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "execWorkerStoreSqlServer",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "workerRunId",
										"value": {
											"value": "@activity('execWorkerStoreSqlServer').output.PipelineRunId",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"value": "azureSqlDatabase",
							"activities": [
								{
									"name": "execWorkerStoreAzureSqlDb",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PL_INGEST_WORKER_LND_TO_DB_AzureSqlDatabase",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"pl_param_item": {
												"value": "@pipeline().parameters.pl_param_loadItem",
												"type": "Expression"
											},
											"pl_param_destinationConfig": {
												"value": "@pipeline().parameters.pl_param_destinationConfig",
												"type": "Expression"
											},
											"pl_param_pipelineId": {
												"value": "@pipeline().parameters.pl_param_pipelineId",
												"type": "Expression"
											},
											"pl_param_pipelineRunId": {
												"value": "@pipeline().parameters.pl_param_pipelineId",
												"type": "Expression"
											},
											"pl_param_loadConfig": {
												"value": "@pipeline().parameters.pl_param_loadConfig",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "setWorkerStoreAzureSqlDb",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "execWorkerStoreAzureSqlDb",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "workerRunId",
										"value": {
											"value": "@activity('execWorkerStoreAzureSqlDb').outputPipelineRunId",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"value": "azureDataExplorer",
							"activities": [
								{
									"name": "execWorkerStoreAzureDataExplorer",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PL_INGEST_WORKER_LND_TO_DB_AzureDataExplorer",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"pl_param_item": {
												"value": "@pipeline().parameters.pl_param_loadItem",
												"type": "Expression"
											},
											"pl_param_destinationConfig": {
												"value": "@pipeline().parameters.pl_param_destinationConfig",
												"type": "Expression"
											},
											"pl_param_pipelineId": {
												"value": "@pipeline().parameters.pl_param_pipelineId",
												"type": "Expression"
											},
											"pl_param_pipelineRunId": {
												"value": "@pipeline().parameters.pl_param_pipelineId",
												"type": "Expression"
											},
											"pl_param_loadConfig": {
												"value": "@pipeline().parameters.pl_param_loadConfig",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "setWorkerStoreAzureDataExplorer",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "execWorkerStoreAzureDataExplorer",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "workerRunId",
										"value": {
											"value": "@activity('execWorkerStoreAzureDataExplorer').output.PipelineRunId",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "logWorkerDestCompletion",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "execWorkerLndToStore",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_LOG_WORKER",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"pl_param_pipelineId": {
							"value": "@pipeline().parameters.pl_param_pipelineId",
							"type": "Expression"
						},
						"pl_param_workerRunId": {
							"value": "@variables('workerRunId')",
							"type": "Expression"
						},
						"pl_param_workerType": "Ingest",
						"pl_param_throwErrorOnFail": false
					}
				}
			}
		],
		"parameters": {
			"pl_param_pipelineId": {
				"type": "string"
			},
			"pl_param_pipelineRunId": {
				"type": "string"
			},
			"pl_param_sourceConfig": {
				"type": "object"
			},
			"pl_param_loadItem": {
				"type": "object"
			},
			"pl_param_loadConfig": {
				"type": "object"
			},
			"pl_param_destinationConfig": {
				"type": "object"
			}
		},
		"variables": {
			"workerRunId": {
				"type": "String"
			}
		},
		"folder": {
			"name": "99 - Framework Components/B - Ingest"
		},
		"annotations": [],
		"lastPublishTime": "2023-11-09T05:16:20Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}