TempArtifact/pipeline/PL_LOG_WORKER.json
{
	"name": "PL_LOG_WORKER",
	"properties": {
		"activities": [
			{
				"name": "getWorkerDetails",
				"type": "AzureFunctionActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "GetPipelineSummary",
					"method": "POST",
					"body": {
						"value": "{\n  \"runId\": \"@{pipeline().parameters.pl_param_workerRunId}\"\n}",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AFUNC_DatalakeFramework",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "logWorkerCompletion",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "getWorkerDetails",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[CTL].[USP_LOG_WORKER_COMPLETE]",
					"storedProcedureParameters": {
						"pipelineId": {
							"value": {
								"value": "@pipeline().parameters.pl_param_pipelineId",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"runDetails": {
							"value": {
								"value": "@string(activity('getWorkerDetails').output.response)",
								"type": "Expression"
							},
							"type": "String"
						},
						"workerType": {
							"value": "Ingest",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL_ELTFrameworkDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "postProcessingPerStatus",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "logWorkerCompletion",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@toLower(activity('getWorkerDetails').output.response.status)",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "failed",
							"activities": [
								{
									"name": "getErrorDetails",
									"type": "AzureFunctionActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"functionName": "GetPipelineErrorDetail",
										"method": "POST",
										"body": {
											"value": "{\n  \"runId\": \"@{pipeline().parameters.pl_param_workerRunId}\"\n}",
											"type": "Expression"
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_AFUNC_DatalakeFramework",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "logErrorDetails",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "getErrorDetails",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[CTL].[USP_LOG_ERROR]",
										"storedProcedureParameters": {
											"errorDetail": {
												"value": {
													"value": "@string(activity('getErrorDetails').output.response)",
													"type": "Expression"
												},
												"type": "String"
											},
											"pipelineID": {
												"value": {
													"value": "@pipeline().parameters.pl_param_pipelineId",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"pipelineRunId": {
												"value": {
													"value": "@activity('getWorkerDetails').output.response.invokedByRunId",
													"type": "Expression"
												},
												"type": "Guid"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_SQL_ELTFrameworkDB",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "ifThrowErrorOnFail",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "postProcessingPerStatus",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@and(not(equals(toLower(activity('getWorkerDetails').output.response.status),'succeeded')),pipeline().parameters.pl_param_throwErrorOnFail)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "PL_THROW_ERROR",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_THROW_ERROR",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"pl_param_errorMessage": {
										"value": "\"Worker @{pipeline().parameters.pl_param_workerRunId} has failed, please check logs.\"",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"pl_param_pipelineId": {
				"type": "int"
			},
			"pl_param_workerRunId": {
				"type": "string"
			},
			"pl_param_workerType": {
				"type": "string"
			},
			"pl_param_throwErrorOnFail": {
				"type": "bool",
				"defaultValue": false
			}
		},
		"folder": {
			"name": "99 - Framework Components/Utility"
		},
		"annotations": [],
		"lastPublishTime": "2023-11-09T05:16:19Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}